In [3]:
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
import numpy as np
import random

In [10]:
data = pd.read_csv(r'/home/chard/Desktop/AI/EDA/electricity demand.csv')
data.head()

,Timestamp,hour,dayofweek,month,year,dayofyear,Temperature,Humidity,Demand
0,01-Jan-20,0.0,2.0,1.0,2020.0,1.0,3.000000,61.288951,2457.119872
1,01-Jan-20,1.0,2.0,1.0,2020.0,1.0,3.000000,52.873702,2269.904712
2,01-Jan-20,2.0,2.0,1.0,2020.0,1.0,4.244482,36.341783,2215.640403
3,01-Jan-20,3.0,2.0,1.0,2020.0,1.0,3.000000,72.629378,2174.232413
4,01-Jan-20,4.0,2.0,1.0,2020.0,1.0,3.881208,90.582444,2472.453006

In [11]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 43848 entries, 0 to 43847
Data columns (total 9 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   Timestamp    43848 non-null  object
 1   hour         43837 non-null  float64
 2   dayofweek    43839 non-null  float64
 3   month        43840 non-null  float64
 4   year         43843 non-null  float64
 5   dayofyear    43843 non-null  float64
 6   Temperature  43841 non-null  float64
 7   Humidity     43838 non-null  float64
 8   Demand       43841 non-null  float64
dtypes: float64(8), object(1)
memory usage: 3.0+ MB

In [12]:
data.columns.to_list()

['Timestamp',
 'hour',
 'dayofweek',
 'month',
 'year',
 'dayofyear',
 'Temperature',
 'Humidity',
 'Demand']

In [13]:
data.isnull().sum()

Timestamp       0
hour           11
dayofweek       9
month           8
year            5
dayofyear       5
Temperature     7
Humidity       10
Demand          7
dtype: int64

### Converting the Timestamp column to datetime data type

In [14]:
data['Timestamp'] = pd.to_datetime(data['Timestamp'])

/tmp/ipykernel_147363/652119658.py:1: UserWarning: Could not infer format, so each element will be parsed individually, falling back to `dateutil`. To ensure parsing is consistent and as-expected, please specify a format.
  data['Timestamp'] = pd.to_datetime(data['Timestamp'])

In [15]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 43848 entries, 0 to 43847
Data columns (total 9 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   Timestamp    43848 non-null  datetime64[ns]
 1   hour         43837 non-null  float64
 2   dayofweek    43839 non-null  float64
 3   month        43840 non-null  float64
 4   year         43843 non-null  float64
 5   dayofyear    43843 non-null  float64
 6   Temperature  43841 non-null  float64
 7   Humidity     43838 non-null  float64
 8   Demand       43841 non-null  float64
dtypes: datetime64[ns](1), float64(8)
memory usage: 3.0 MB

### Setting the Timestamp as the index of the DataFrame

In [16]:
data = data.set_index('Timestamp')
data.head()

,hour,dayofweek,month,year,dayofyear,Temperature,Humidity,Demand
Timestamp,,,,,,,,
2020-01-01,0.0,2.0,1.0,2020.0,1.0,3.000000,61.288951,2457.119872
2020-01-01,1.0,2.0,1.0,2020.0,1.0,3.000000,52.873702,2269.904712
2020-01-01,2.0,2.0,1.0,2020.0,1.0,4.244482,36.341783,2215.640403
2020-01-01,3.0,2.0,1.0,2020.0,1.0,3.000000,72.629378,2174.232413
2020-01-01,4.0,2.0,1.0,2020.0,1.0,3.881208,90.582444,2472.453006

### Using the Describe function to check the summary statistics

In [17]:
data.describe()

,hour,dayofweek,month,year,dayofyear,Temperature,Humidity,Demand
count,43837.000000,43839.000000,43840.000000,43843.000000,43843.000000,43841.000000,43838.000000,43841.000000
mean,11.499030,2.999795,6.521282,2022.000068,183.208654,25.067788,59.903007,5000.790976
std,6.922006,2.000051,3.449168,1.415044,105.478826,12.821725,18.342604,1412.527409
min,0.000000,0.000000,1.000000,2020.000000,1.000000,3.000000,20.000000,1611.954020
25%,5.000000,1.000000,4.000000,2021.000000,92.000000,15.210186,46.241224,4015.668472
50%,11.000000,3.000000,7.000000,2022.000000,183.000000,25.003212,59.986720,5013.053367
75%,17.000000,5.000000,10.000000,2023.000000,275.000000,34.740971,73.796820,6000.803082
max,23.000000,6.000000,12.000000,2024.000000,366.000000,50.000000,95.000000,11910.705100

In [19]:
data[['hour', 'Temperature', 'Humidity', 'Demand']].describe()

               hour   Temperature      Humidity        Demand
count  43837.000000  43841.000000  43838.000000  43841.000000
mean      11.499030     25.067788     59.903007   5000.790976
std        6.922006     12.821725     18.342604   1412.527409
min        0.000000      3.000000     20.000000   1611.954020
25%        5.000000     15.210186     46.241224   4015.668472
50%       11.000000     25.003212     59.986720   5013.053367
75%       17.000000     34.740971     73.796820   6000.803082
max       23.000000     50.000000     95.000000  11910.705100

# Data Cleaning

### 1. Missing Values

In [20]:
data.isnull().sum()

hour           11
dayofweek       9
month           8
year            5
dayofyear       5
Temperature     7
Humidity       10
Demand          7
dtype: int64

### 2. Showing records that contain any null values

In [24]:
data[data.isna().any(axis=1)]

,hour,dayofweek,month,year,dayofyear,Temperature,Humidity,Demand
Timestamp,,,,,,,,
2020-04-30,NaN,3.0,4.0,2020.0,121.0,21.820261,41.353675,5393.127681
2020-07-21,NaN,1.0,7.0,2020.0,203.0,36.555833,62.779665,6248.349423
2021-02-20,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2021-02-20,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2021-02-20,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2021-02-20,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2021-02-27,NaN,5.0,2.0,2021.0,58.0,24.001003,53.303268,4523.253789
2021-12-13,23.0,0.0,12.0,2021.0,NaN,3.000000,75.457130,3225.225822
2021-12-14,NaN,1.0,12.0,2021.0,348.0,5.061319,47.215825,2887.848612
2021-12-14,14.0,1.0,12.0,2021.0,348.0,15.403995,74.011557,NaN
2022-06-17,13.0,4.0,6.0,2022.0,168.0,NaN,43.171391,7196.200962
2022-06-17,NaN,4.0,6.0,2022.0,168.0,42.924693,43.645711,7605.572464
2022-06-17,17.0,4.0,NaN,2022.0,168.0,37.115634,37.554842,7696.863268
2022-06-17,18.0,4.0,6.0,2022.0,168.0,39.886471,NaN,7830.425508
2022-06-17,21.0,NaN,6.0,2022.0,168.0,28.471494,54.964101,6408.288394
2022-06-18,5.0,5.0,6.0,2022.0,169.0,38.349174,58.285814,NaN
2023-08-30,NaN,2.0,8.0,2023.0,242.0,25.707715,69.868663,5983.808425
2023-08-31,0.0,NaN,8.0,2023.0,243.0,22.705122,81.691817,4307.378161
2023-08-31,5.0,3.0,NaN,2023.0,243.0,29.081792,81.270824,5181.232963
2023-08-31,11.0,3.0,8.0,NaN,243.0,44.270455,75.563954,6449.406302
2023-08-31,14.0,3.0,8.0,2023.0,243.0,NaN,NaN,7082.853450
2024-01-27,19.0,5.0,1.0,2024.0,27.0,14.351975,NaN,NaN
2024-01-28,2.0,NaN,1.0,2024.0,28.0,3.000000,68.899943,2097.117994
2024-01-28,NaN,6.0,1.0,2024.0,28.0,9.081186,78.163106,3665.332955
2024-09-24,19.0,NaN,9.0,2024.0,268.0,25.632052,74.123843,6221.030041
2024-09-24,21.0,1.0,9.0,2024.0,268.0,19.380978,NaN,5333.268985
2024-09-24,22.0,1.0,9.0,2024.0,268.0,NaN,66.618690,4388.124735
2024-09-25,7.0,2.0,NaN,2024.0,269.0,31.190258,95.000000,5959.811294
2024-12-18,11.0,2.0,12.0,2024.0,353.0,23.075591,NaN,4672.011329
2024-12-18,12.0,2.0,12.0,2024.0,353.0,20.012449,NaN,4743.652853
2024-12-18,21.0,NaN,NaN,2024.0,353.0,3.000000,64.041109,4133.304646

### 3. Showing records that contain ALL null values

In [25]:
data[data.isna().all(axis=1)]

,hour,dayofweek,month,year,dayofyear,Temperature,Humidity,Demand
Timestamp,,,,,,,,
2021-02-20,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2021-02-20,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2021-02-20,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2021-02-20,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

### 4. Dropping rows that contain all null values

In [26]:
data = data.dropna(how='all')

data[data.isnull().all(axis=1)]

Empty DataFrame
Columns: [hour, dayofweek, month, year, dayofyear, Temperature, Humidity, Demand]
Index: []

In [27]:
data.isnull().sum()

hour           7
dayofweek      5
month          4
year           1
dayofyear      1
Temperature    3
Humidity       6
Demand         3
dtype: int64

### 5. Using Backward (bfill) and Forward fill (ffill) to fill the missing values

In [29]:
data[['hour', 'dayofweek', 'month', 'year', 'dayofyear']] = data[['hour', 'dayofweek', 'month', 'year', 'dayofyear']].ffill()

/tmp/ipykernel_147363/3402763247.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  data[['hour', 'dayofweek', 'month', 'year', 'dayofyear']] = data[['hour', 'dayofweek', 'month', 'year', 'dayofyear']].ffill()

In [30]:
data[['Temperature', 'Humidity']] = data[['Temperature', 'Humidity']].bfill()

/tmp/ipykernel_147363/4187393756.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  data[['Temperature', 'Humidity']] = data[['Temperature', 'Humidity']].bfill()

### 6. Using Interpolate method (interpolate()) to fill the Demand column missing values

In [31]:
data['Demand'] = data['Demand'].interpolate(method = 'time')

/tmp/ipykernel_147363/3592496682.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  data['Demand'] = data['Demand'].interpolate(method = 'time')

In [32]:
data.isnull().sum()

hour           0
dayofweek      0
month          0
year           0
dayofyear      0
Temperature    0
Humidity       0
Demand         0
dtype: int64

In [33]:
data.shape

(43844, 8)

# Feature Engineering